body{
    margin:0 auto;
    background-color: aqua;
    
    
}
button{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:200px;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 25px;
    color:black;
    background-color: antiquewhite;
}
button:hover{
    background-color: aliceblue;
    color: pink;
    cursor:pointer;
}